@font-face {
  font-family: 'Aileron';
  src: url('Aileron-BoldItalic.woff2') format('woff2'),
      url('Aileron-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('Aileron-LightItalic.woff2') format('woff2'),
      url('Aileron-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('Aileron-Thin.woff2') format('woff2'),
      url('Aileron-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('Aileron-HeavyItalic.woff2') format('woff2'),
      url('Aileron-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('Aileron-UltraLight.woff2') format('woff2'),
      url('Aileron-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('Aileron-Regular.woff2') format('woff2'),
      url('Aileron-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('Aileron-SemiBold.woff2') format('woff2'),
      url('Aileron-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('Aileron-Light.woff2') format('woff2'),
      url('Aileron-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('Aileron-Heavy.woff2') format('woff2'),
      url('Aileron-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('Aileron-Black.woff2') format('woff2'),
      url('Aileron-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('Aileron-UltraLightItalic.woff2') format('woff2'),
      url('Aileron-UltraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('Aileron-ThinItalic.woff2') format('woff2'),
      url('Aileron-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('Aileron-Italic.woff2') format('woff2'),
      url('Aileron-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('Aileron-SemiBoldItalic.woff2') format('woff2'),
      url('Aileron-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('Aileron-Bold.woff2') format('woff2'),
      url('Aileron-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('Aileron-BlackItalic.woff2') format('woff2'),
      url('Aileron-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'dreamicons';
  src:
    url('dreamicons.ttf?cr8vnr') format('truetype'),
    url('dreamicons.woff?cr8vnr') format('woff'),
    url('dreamicons.svg?cr8vnr#dreamicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.dream-home:before {
content: "\f015";
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'dreamicons' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.dream-reload:before {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'dreamicons' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
content: "\f021";
}
.dream-bookmark:before {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'dreamicons' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
content: "\f02e";
}
.dream-print:before {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'dreamicons' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
content: "\f02f";
}
.dream-maximize:before {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'dreamicons' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
content: "\f065";
}
.dream-new:before {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'dreamicons' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
content: "\f0a3";
}
.dream-plus:before {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'dreamicons' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
content: "\e906";
}
.dream-close:before {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'dreamicons' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
content: "\e900";
}
.dream-deny:before {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'dreamicons' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
content: "\e90c";
}
.dream-gear:before {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'dreamicons' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
content: "\e90b";
}
.dream-check:before {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'dreamicons' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
content: "\e908";
}
.dream-information:before {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'dreamicons' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
content: "\e90a";
}
.dream-leftarrow:before {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'dreamicons' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
content: "\e901";
}
.dream-rightarrow:before {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'dreamicons' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
content: "\e905";
}