.button {
  display: inline-block;
  background-color: var(--accent);
  border: none;
  color: white;
  height: 60px;
  text-align: center;
  font-size: 1em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  cursor: pointer;
  margin: 0.6em;
  vertical-align: top;
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
}

.button:hover {
  background-color: var(--accent-dark);
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
}

.button:active {
  background-color: var(--accent-bright);
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
}


.buttonDisabled {
  display: inline-block;
  background-color: var(--stone);
  border: none;
  color: #FFFFFF;
  height: 60px;
  text-align: center;
  font-size: 1em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  cursor: not-allowed;
  margin: 0.6em;
  vertical-align: top;
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
}

.buttonDisabled:hover {
  background-color: var(--stone-dark);
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
}

.buttonDisabled:active {
  background-color: var(--stone-bright);
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
}

.buttonAlternative {
  display: inline-block;
  background-color: transparent;
  border: none;
  color: var(--accent);
  height: 60px;
  text-align: center;
  font-size: 1em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  cursor: pointer;
  margin: 0.6em;
  vertical-align: top;
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
}

.buttonAlternative:hover {
  background-color: var(--accent-dark);
  color: white;
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
}

.buttonAlternative:active {
  background-color: var(--accent-bright);
  color: white;
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
}


.buttonAlternativeDisabled {
  display: inline-block;
  background-color: transparent;
  border: none;
  color: var(--stone);
  height: 60px;
  text-align: center;
  font-size: 1em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  cursor: not-allowed;
  margin: 0.6em;
  vertical-align: top;
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
}

.buttonAlternativeDisabled:hover {
  background-color: var(--stone-dark);
  color: white;
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
}

.buttonAlternativeDisabled:active {
  background-color: var(--stone-bright);
  color: bright;
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
}

