@import url('colors.css');
@import url('normalize.css');
@import url('fonts/stylesheet.css');
@import url('settings.css');

/* get ready for the wall of @import */
@import url('toast.css');
@import url('modal.css');
@import url('darkener.css');
@import url('progress.css');
@import url('button.css');
@import url('select.css');

html {
  background-color: var(--stone-darkest);
  color: white;
  width: 100%;
  height: 100%;
  font-family: 'Aileron';
}

body {
  margin: 1.2em
}

a:link {
  color: var(--accent);
}

a:visited {
  color: var(--accent-darker);
}

a:hover {
  color: var(--accent-brighter);
}

a:active {
  color: var(--accent-brightest);
} 
