@keyframes modalPullUp {
  from {transform: none;}
  to {transform: translateY(-100%);}
}

@keyframes modalPullDown {
  from {transform: translateY(-100%);}
  to {transform: none;}
}

.plasticModal {
  width: 400px;
  min-height: 180px;
  display: block;
  margin: auto;
  animation-name: 'modalPullDown';
  animation-duration: 0.25s;
  animation-timing-function: var(--cubic-bezier);
  -webkit-animation-name: 'modalPullDown';
  -webkit-animation-duration: 0.25s;
  -webkit-animation-timing-function: var(--cubic-bezier);
  position: fixed;
  top: 0;
  left: calc(50% - 200px);
  z-index: 99999;
}

.plasticModalTempRemove {
  animation-name: 'modalPullUp';
  animation-duration: 0.25s;
  animation-timing-function: var(--cubic-bezier);
  -webkit-animation-name: 'modalPullUp';
  -webkit-animation-duration: 0.25s;
  -webkit-animation-timing-function: var(--cubic-bezier)
}

.plasticModalTitleContainer {
  width: 400px;
  height: 60px;
  background-color: var(--stone-darker);
}

.plasticModalTitleContainer h3 {
  margin: 0;
  padding: 0;
  line-height: 60px;
  font-weight: 600;
  padding-left: 20px;
}

.plasticModalTextContainer {
  min-height: 60px;
  background-color: var(--stone-dark)
}

.plasticModalTextContainer p {
  max-width: calc(400px - 40px);
  padding: 20px;
  margin: 0;
}

.plasticModalButtonContainer {
  width: 400px;
  height: 60px;
  background-color: var(--stone-darker);
}

.plasticModalButtonContainer button {
  background-color: var(--accent);
  border: none;
  color: white;
  text-decoration: none;
  height: 60px;
  width: 60px;
  cursor: pointer;
  outline: none;
  vertical-align: top;
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
  float: right;
}

.plasticModalButtonContainer button:hover {
  background-color: var(--accent-dark);
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
}

.plasticModalButtonContainer button:active {
  background-color: var(--accent-bright);
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
}

.plasticModalButtonAlternative {
  background-color: transparent !important;
  border: none;
  color: var(--accent) !important;
  text-decoration: none;
  height: 60px;
  width: 60px;
  cursor: pointer;
  outline: none;
  vertical-align: top;
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
  float: right;
}

.plasticModalButtonAlternative:hover {
  background-color: var(--accent-dark) !important;
  transition-timing-function: var(--cubic-bezier);
  color: white !important;
  transition-duration: 0.125s;
}

.plasticModalButtonAlternative:active {
  background-color: var(--accent-bright) !important;
  transition-timing-function: var(--cubic-bezier);
  color: white !important;
  transition-duration: 0.125s;
}

/* make it work on phones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .plasticModal {
    width: 100%;
    left: calc(50% - calc(100% / 2));
  }
  
  .plasticModalTitleContainer {
    width: 100%;
  }
  
  .plasticModalTextContainer p {
    max-width: calc(100% - 40px);
  }
  
  .plasticModalButtonContainer {
    width: 100%;
  }
}