@keyframes progressPulse {
  from {filter: brightness(100%)}
  50% {filter: brightness(225%)}
  to {filter: brightness(100%)}
}

progress:not([value]) {
  appearance: none;
  border: none; /* deal with Firefox */
  width: 400px; 
  height: 60px;
  
  background-color: var(--accent-darkest);
  
  position: relative;
  margin: 0 0 1.5em; 
  animation: progressPulse 2.5s linear infinite;
  animation-timing-function: var(--cubic-bezier)
}

progress:not([value])::-webkit-progress-bar {
  background-color: var(--accent-darkest);
}

progress:not([value])::-webkit-progress-value {
  background-color: var(--accent-darkest);
}

progress:not([value])::-moz-progress-bar {
  background-color: var(--accent-darkest);
}

progress[value] {
  appearance: none;
  border: none; /* deal with Firefox */
  width: 400px; 
  height: 60px;
  
  background-color: var(--accent-darkest);
  
  position: relative;
  margin: 0 0 1.5em; 
}

progress[value]::-webkit-progress-bar {
  background-color: var(--accent-darkest);
}

progress[value]::-webkit-progress-value {
  background-color: var(--accent)
}

progress[value]::-moz-progress-bar {
  background-color: var(--accent);
}