select {
  margin-left: 1.2em;
  margin-right: 1.2em;
  width: 150px;
  padding: 1.2em;
  font-size: 16px;
  border: 0;
  height: 60px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* CAUTION: IE hackery ahead */
select::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    }
}