/* PLASTIC CSS SETTINGS */

/* Colors */
:root {
  --accent: var(--jade);
  --accent-brightest: var(--jade-brightest);
  --accent-brighter: var(--jade-brighter);
  --accent-bright: var(--jade-bright);
  --accent-dark: var(--jade-dark);
  --accent-darker: var(--jade-darker);
  --accent-darkest: var(--jade-darkest);
}

/* Animations */
:root {
  --cubic-bezier: cubic-bezier(0.77, 0, 0.175, 1);
}